<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title>Dashboard</title>
    </head>
<body>
    <div>
        <label>
            <h1>{{ username }}'s Dashboard</h1>
        </label>
        <label>
            <h2>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h2>
        </label>
        <label>
            <h2>Personal Information</h2>
        </label>
        <label>
            <h3>Name: {{ name }}</h3>
        </label>
        <label>
            <h3>DOB: {{ DOB }}</h3>
        </label>
        <label>
            <h3>Email: {{ email }}</h3>
        </label>
        <label>
            <h3>You are a: {{ role }}</h3>
        </label>
        <label>
            <h3>Admin Status: {{ admin }}</h3>
        </label>
        <label>
            <p>Your password (for testing purposes): {{ password }}</p>
        </label>
        <label>
            <h2>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h2>
        </label>
        <table>
            <tr>
                <td>
                    <a href = "updateDevice"> <button>Update Medical Device</button> </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href = "updateDoctors"><button>Update Doctor(s)</button> </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href = "updateNurses"><button>Update Nurse(s)</button> </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href = "updatePatients"><button>Update Patient(s)</button> </a>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    <label>
                        Your Doctors: {{ doctors }}
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Your Nurses: {{ nurses }}
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Your Patients: {{ patients }}
                    </label>
                </td>
            </tr>
        </table>
        <div>
            <h3>Chat Rooms </h3>
            <table>
                <tr>
                    <td>
                        <a href = "chatWindow"> <button type = "submit">Enter Chat</button> </a>
                    </td>
                </tr>
            </table>
        </div>
        <table>
            <tr>
                <td>
                    <label>
                        <h3>Your Devices: {{ deviceName }}</h3>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Device Type: {{ deviceType }}
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Manufacturer: {{ manufacturer }}
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Results: {{ results }}
                    </label>
                </td>
            </tr>
        </table>
        <label>
            <a href = "logout"> <button>Logout </button> </a>
        </label>
    </div>
</body>
</html>