<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title>Home Page</title>
    </head>
<body>
    <div>
        <table>
            <tr>
                <td>
                    <label>
                        <h1>Medical Managment App</h1>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5b/Star_of_life2.svg/1280px-Star_of_life2.svg.png" alt="Medical Star" width="200" height="200">
                </td>
            </tr>
            <tr>
            <tr>
                <td>
                    <a href = "signup"> <button>Register </button> </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href = "login"> <button> Log-in </button> </a>
                </td>
            </tr>
        </table>
        <label>
            <h3>Login/Signup failed! Try again!</h3>
        </label>
    </div>
</body>
</html>