<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title>Sign Up</title>
    </head>
<body>
    <label>
        <h1>Update Patients(s)</h1>
    </label>
    <form action = "dashboard" method = "POST"></formaction>
        <table>
            <tr>
                <td>
                    <label>Patient Name(s): </label>
                </td>
                <td>
                    <input type = "text" name = "patients" placeholder = "Patient 1, Patient 2..."/>
                </td>
            </tr>
            <tr>
                <td>
                    <a href = "dashboard"> <button type = "submit">Submit Patient(s) </button> </a>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>