<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
    </head>
<body>
    <label>
        <h1>Update Doctor(s)</h1>
    </label>
    <form action = "updateDoctors" method = "POST"></formaction>
        <table>
            <tr>
                <td>
                    <label>Doctor Name(s): </label>
                </td>
                <td>
                    <input type = "text" name = "doctors" placeholder = "Doctor 1, Doctor 2..."/>
                </td>
            </tr>
            <tr>
                <td>
                    <button type = "submit">Submit Doctor(s) </button> </a>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>