<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
    </head>
<body>
    <label>
        <h1>Update Nurse(s)</h1>
    </label>
    <form action = "updateNurses" method = "POST"></formaction>
        <table>
            <tr>
                <td>
                    <label>Nurse Name(s): </label>
                </td>
                <td>
                    <input type = "text" name = "nurses" placeholder = "Nurse 1, Nurse 2..."/>
                </td>
            </tr>
            <tr>
                <td>
                    <button type = "submit">Submit Nurse(s) </button> </a>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>