<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title>Sign Up</title>
    </head>
<body>
    <label>
        <h1>Add Device</h1>
    </label>
    <form action = "updateDevice" method = "POST"></formaction>
        <table>
            <tr>
                <td>
                    <label>Device Name: </label>
                </td>
                <td>
                    <input type = "text" name = "dName" placeholder = "Device Name"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Device Type: </label>
                </td>
                <td>
                    <input type = "text" name = "dType" placeholder = "Device Type"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Manufacturer: </label>
                </td>
                <td>
                    <input type = "text" name = "manufacturer" placeholder = "Manufacturer"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Patient Username: </label>
                </td>
                <td>
                    <input type = "text" name = "pName" placeholder = "Patient Name"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Results: </label>
                </td>
                <td>
                    <input type = "text" name = "results" placeholder = "Results"/>
                </td>
            </tr>
            <tr>
                <td>
                    <a href = "dashboard"> <button type = "submit">Submit Device </button> </a>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>